@font-face{
    src: url("../fonts/Lato-Regular.ttf");
    font-family:lato;
}

*{
    margin: 0px;
    padding: 0px;
     font-family: lato;
    
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #00aeff;
/*  padding: 20px 10px;*/
}

/* Style the header links */
.header > a {
  float: left;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.dropdown{
    display: none;
    height: 190px;
    width: 120px;
    background: white;
    z-index: 1;
    position: absolute;
}

.header-right a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  height: 36px;
    border-right: 1px solid;
/*  border-radius: 4px;*/
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.home-image h2{
    color: white;
    text-align: center;
    font-size: 37px;
    padding-top: 120px;
}
.home-image *{
    color: white;
    text-align: center;
    font-size: 23px;
/*    padding: 27px;*/
}

.home-image{
    height: 316px;
    width: 100%;
    background-image: url(/images/v7-homepage1.jpg);
}

form * {
   padding: 5px;
    border: 1px solid black;
    font-size: 14px;
    outline: none;
    width: 190px;
    border-radius: 3px;
}

form{
    border: 30px;
    background-color: white;
    color: black;
    padding: 30px 40px;
    text-align: center;
}

.unlock{
    border: 30px;
    color: black;
    background-color: rgb(8, 68, 130);
    text-align: center;
    margin-right: 73px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.form-link{
    padding: 7px 34px 7px 24px;
    border-color: #657279;
}
.form-link-submit{
    padding: 7px 34px 7px 24px;
    border-color: #657279;
    color: white;
    background-color: #00aeff;
    width: 155px;
}

.form-link-submit-e{
    padding: 15px 32px 12px 27px;
    border-color: #657279;
    color: white;
    width: 350px;
    border-radius: 8px;
    background-color: white;
}
.form-link-submit-s{
    padding: 15px 13px 12px 3px;
    border-color: #657279;
    color: white;
    width: 150px;
    background-color: #00aeff;
}


.form-link-submit-d{
    padding: 7px 34px 7px 24px;
    border-color: #657279;
    color: white;
    width: 200px;
    background-color: #00aeff;
}
.form-link-submit-s:hover{
    transition: .3s ease-out;
    background-color: #388cb3;
    cursor: pointer;
}


.form-link-submit:hover{
    transition: .3s ease-out;
    background-color: #388cb3;
    cursor: pointer;
}




div.search-form{
    height: 122px;
    width: 1050px;
    background-color: white;
    margin: -50px 150.5px 35px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

div.search-form-e{
    height: 122px;
    width: 1050px;
    background-color: white;
    margin: -10px -520.5px 70px;
 
}

.bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.container *{
    text-align: center;
    line-height: 1.4;
}

.container h2{
    text-align: center;
    color: #4f4f4f;
    font-size: 30px;
}

.container-2 h2{
    padding-top: 125px;
    text-align: center;
    color: #4f4f4f;
    font-size: 30px;
}

.container-3 h2{
    padding-top: 125px;
    padding-bottom: 35px;
    text-align: center;
    color: #4f4f4f;
    font-size: 30px;
}

.container-3 p{
    text-align: center;
    color: #4f4f4f;
    font-size: 19px;
    margin-bottom: 10px;
}
.container p{
    text-align: center;
    color: #4f4f4f;
    font-size: 19px;
    margin-bottom: 10px;
}

.contain-hotels{
    margin-top: 32px;
    margin-left: 150.500px;
    margin-right: 150.500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
}

.hotels{
    text-align: center;
/*    padding: 0px 15px;*/
    border: 1px solid #37d5fb;
    border-color: #d2d2d2;
    border-radius: 3px;
}

.hotels > a > img{
    text-align: center;
    height: 211px;
    width: 310px;
/*    padding: 0px 15px;*/
} 

.discount-img{
    color: #00AEFF;
    text-align: left;
    background-color: white;
/*   padding: 5px;*/
}
.discount-img *{
    margin-left: 10px;
}

.discount-img > p {
    font-size: 11px;
        color: #657279;
}

 
.small-line{
    height: 3px;
    margin: auto;
    width: 50px;
    background-color: #00aeff;
}


.small-line-e{
    height: 3px;
    margin: auto;
    width: 50px;
    background-color: #4f4f4f;

}



.contains{
    text-align: center;
    display: flex;
    margin-top: 35px;
    padding-bottom: 70px;
    margin-left: 13%;
}

.available-city{
    width: 142px;
        padding: 0px 10px;
}

.suggested-city:hover{
    transition: .3s ease-out;
    background-color: #00AEFF;
    cursor: pointer;
    
}

.suggested-city > h3:hover{
    color: white;
}



a {
    text-decoration: none!important;
}

a .suggested-city{
    border: 2px solid #00aeff;
    border-radius: 4px;
    margin: 20px 0px 0px;
    padding: 14px;
    text-align: center;
}

.suggested-city > h3{
    font-size: 17px;
    color: #00AEFF;
}

.suggested-city > p{
    color: #657279;
    font-size: 15.5px;
}

.contain-locations{
    margin-top: 32px;
    margin-left: 150.500px;
    margin-right: 150.500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 100px;
}

.contain-app{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 70px;
/*    padding-bottom: 100px;*/
    background-image: url(/images/get-app-bg-white.jpg);
}

.locations p{
    color: white;
    position: relative;
    font-size: 20px;
    top:115px;
    color: white;
}


.locations h3{
        color: white;
    font-size: 23px;
    top: 115px;
    position: relative;

}
.holder-1{
    border-radius: 5px;
    background-image: url("/images//lagos_city1.jpg");
}
.holder-2{
    border-radius: 5px;
    background-image: url("/images/abuja_city1.jpg");
}
.holder-3{
    border-radius: 5px;
    background-image: url("/images/crossriver_city1.jpg");
}
.holder-4{
    border-radius: 5px;
    background-image: url("/images/port-harcourt_city1.jpg");
}
.holder-6{
    border-radius: 5px;
    background-image: url("/images/uyo_city1.jpg");
}
.holder-5{
    border-radius: 5px;
    background-image: url("/images/owerri_city1.jpg");
}
.holder{
    height: 242px;
    margin: 27px 0;
}

.locations{
    width: 29%;
    padding: 10px;
    margin: 0px 7px -50px;
    border-radius: 3px;
    
}

.states{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.total-states{
    margin: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.single-state{
    
    margin-top: 10px;
    width: 276px;
    height: 61px;
}

.single-state > h3{
    font-size: 16px;
    font-weight: 600;
    color: #00aeff!important;
}
}

.single-state p{
    color: #657279;
    font-size: 14px;
}

.logos{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 250px;
}

.svg-1{
    background-image: url("/images/Bbc.png");
    background-repeat: no-repeat;
    background-position: center;
}
.svg-2{
    background-image: url("/images/forbes-logo-Edited-300x84.png");
    background-repeat: no-repeat;
    background-position: center;
}
.svg-3{
    background-image: url("/images/newsweek2.png");
    background-repeat: no-repeat;
    background-position: center;
    
}
.svg-4{
    background-image: url("/images/download.png");
    background-repeat: no-repeat;
    background-position: center;
  
}
.holder1{
    height: 50px;
    margin: 27px -100px;
    width: 25%;
}
.mobile img{
    width:495px;
    height: 377px;
/*    padding-bottom: 30px;*/
    
}

.mobile{
    padding-left: 120px;
}
.mobile-2{
    padding-right: 280px;
    margin-top: 50px;
    
}

.mobile-2 h3{
    font-size: 50px;
    padding-top: 40px;
    color: #2196f3;
}
.mobile-2 h4{
    font-size: 30px;
    padding-right: 135px;
    color: #333;
}
.mobile-2 p{
    padding-left: 80px;
}
.mobile-2 img{
    width:200px;
    height: 60px;
    padding-right: 55px;
    margin-top: 25px;
    
}

.email-deals-e{
    background-color: rgb(8, 68, 130);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-e{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-left: 250px;
    padding-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.footer-hold-1{
    padding-top: 25px;
    width: 50%;
    text-align: left;
    font-size: 14px;
    color:  #657279;
}

.footer-hold-2{
    padding-top: 15px;
    width: 50%;
    font-size: 16px;
    text-align: left;
    color:  #657279;
    display: flex
}

.footer-hold-2-img{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 15px;
    width: 50px;
    text-align: left; 
}

.hold-1{
    padding-top: 15px;
    width: 50%;
    text-align: right;
}

.footer-hold-2 > p{
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 200px;
}

.demooo{
    background-color: blue;
}

.hold-1{
    padding-top: 15px;
    width: 50%;
    text-align: right;
}

.hold-1 h2{
    color: white;
    font-size: 17px;
    padding-top: 10px;
}

.hold-1 p{
    color: rgb(0, 174, 255);
    font-size: 12px;
}
li{
    list-style: none;
    font-size: 13px;
}

li > a{
    color: #14acf2;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1025px;
    height: 207px;
    padding-top: 50px;
    padding-left: 175px;
    padding-right: 209px;
}

.footer-head{
    border-bottom: 1px solid;
    color: #9fa7ad;
}

.footer-list-div{
    width: 20%;
}

.small-line-foot{
    height: 1px;
    padding-left: 0px;
    margin-left: 160px;
    margin-top: 50px;
    width: 80%;
    background-color: #9fa7ad;  
}
